.sec_bg{
    background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.459), rgba(184, 178, 178, 0.43)),
    url('https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090_960_720.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sec_bg h1{
    color: #fff;
    font-family: 'Poppins';
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-50%,-50%);
    font-size: 4em;
    animation: fade-in .4s;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


/* posts grid */
.stacked {
    display: grid;
    position: relative;
}

.container {
    font-family:'Montserrat';
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
    margin-top: 13em;
}

.card {
    background-color: rgba(248, 248, 248, 0.349);
    border: 1px solid rebeccapurple;
    color: #000;
    font-family: 'Montserrat';
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;    transform: rotateZ(1deg);
    transition: all .3s ease-in;
}

.product-grid {
    display: grid;
    gap: 1.5em;
}
 .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }



img {
    max-width: 100%;
    display: block;
}

.card__img {
    object-fit: cover;
    object-position: bottom;
}

.card-tt{
    color: rgba(88, 86, 86, 0.996) !important;
}